/* You can add global styles to this file, and also import other style files */
*{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

.align-center{
    text-align: center;
}

.w-100 {
    width: 100%;
}

.container {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:570px) {
  .container {
      max-width: 540px
  }
}

@media (min-width:760px) {
  .container {
      max-width: 720px
  }
}

@media (min-width:990px) {
  .container {
      max-width: 960px
  }
}

@media (min-width:1200px) {
  .container {
      max-width: 1140px
  }
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}